.link-list {
    padding: 0;
  }
  
  .link-list-item {
    text-align: left;
    font-size: 0.9rem;
  }
  
  .link-list-item-url {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 6px;
    display: block;
    color: #ffebee;
    background-color: #ffa06d;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(150, 149, 149, 0.4);
  }